<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    <!-- navbar -->
    <div class="container-fluid">
        <ul class="nav bg-info d-flex justify-content-center">
            <li class="nav-item">
                <a class="nav-link link-light" href="/">ANASAYFA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/">HABER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/">MAKALE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/">TAVSİYELER</a>
            </li>

            <!-- profil iconu ve bağlantıları -->
            {% if user.is_authenticated %}
<li class="nav-item">
    <a class="nav-link link-light" href="{% url 'logout' %}">
        <i class="fa fa-sign-out"></i> Profilim
    </a>
</li>
<li class="nav-item">
    <a class="nav-link link-light" href="{% url 'logout' %}">
        <i class="fa fa-sign-out"></i> Çıkış Yap
    </a>
</li>
{% else %}
<li class="nav-item">
    <a class="nav-link link-light" href="{% url 'login' %}">
        <i class="fa fa-sign-in"></i> Giriş Yap
    </a>
</li>
<li class="nav-item">
    <a class="nav-link link-light" href="{% url 'register' %}">
        <i class="fa fa-user-plus"></i> Kayıt Ol
    </a>
</li>
{% endif %}
        </ul>
    </div>


<!-- post listeleme  -->
{% if latest_posts %}
<ul>
{% for post in latest_posts %}
    <li>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <!-- yorumların listelenmesi için -->
        <ul>
            {% for comment in post.comments.all %}
                <li>{{ comment.content }}</li>
            {% endfor %}
        </ul>
        <!--  -->
    </li>
{% endfor %}
</ul>
{% else %}
<p>No posts found.</p>
{% endif %}


    



    {% block content %}
    {% endblock %}
</body>

</html>